$bg-color: #ff3d00;
$bg-body: #d9dadb;
$bg-color-bestSale: #40c4ff;
$color-text-main: #FFFFFF;
$logo-h: 100%;
$logo-w: 100%;
$bg-cart-payment: #212121;

$slide-img-w: 100vw;
$slide-img-h: 30vw;
$size-icon: 30px;
$padding-top-main: 2%;
$padding-cards: 0.5%;
$card-height: 9vh;

$color-footer: #006064;
$color-text-footer: #FFFFFF;
$padding-footer-section: 2%;
$bg-color-btn-footer: $bg-color;
$color-btn-footer: #FFFFFF;
$color-stars: #ffc107;

$font-main: bold;
// menu principal
body{
    background-color: $bg-body;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bg-main{
    background-color: $bg-color;
}

.img-logo{
    width: $logo-w;
    height: $logo-h;
}
.img-slide{
    width: $slide-img-w;
}
.carousel-item{
    height: $slide-img-h;
    width: $slide-img-w;
}
/* Este es para los elementos en general */
.navbar-light .navbar-nav .nav-link {
    color: $color-text-main;
    font-weight: $font-main;
}
/*  Este es para el elemento activo lo puedes omitir si asi deseas */
.navbar-light .navbar-nav .active>.nav-link  {
    color: $color-text-main;
    font-weight: $font-main;
}
.container-main{
    padding-top: $padding-top-main;
    background-color: $color-text-main;
}
.container-cart{
    padding-top: $padding-top-main;
    margin-left: 0px;
    margin-right: 0px;
}
.card-column{
    padding: $padding-cards;
}

.icon-io{
    font-size: $size-icon;
}
.best-sale{
    background-color: $bg-color-bestSale;
    font-weight: $font-main;
}
footer{
    background-color: $color-footer;
    flex: 0 0 auto;
    margin: 0;
    padding: $padding-footer-section;
}
.footer{
    margin: 0;
}

.footer-section{
    color: $color-text-footer;
    padding: $padding-footer-section;
}
.btn-send-sub{
    background-color: $bg-color-btn-footer;
    color: $color-btn-footer;
}
.card-body-product{
    height: $card-height;
}
.cart {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 80vh; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
.cart ul {
    list-style: none;
}

.cart ul li a {
    display: inline-block;
    color:#fff;
    background: $bg-color-btn-footer;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}
label{ color:grey;}
input[type = "radio"]{ display:none;}
.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}
label:hover{color:$color-stars;}

input[type = "radio"]:checked ~ label{color:$color-stars;}

.cart-head{
    background-color: $bg-body;
}
.cart-payment{
    background-color: $bg-cart-payment;
    color: $color-text-main;
    font-weight: $font-main;
}
