$bg-color: #ff3d00;
$bg-body: #d9dadb;
$color-text-main: #FFFFFF;
$logo-h: 100%;
$logo-w: 100%;

$slide-img-w: 100vw;
$slide-img-h: 30vw;
$size-icon: 20px;
$padding-top-main: 2%;
$padding-cards: 0.5%;

$font-main: bold;
// menu principal
body{
    background-color: $bg-body;
}
.bg-main{
    background-color: $bg-color;
}

.img-logo{
    width: $logo-w;
    height: $logo-h;
}
.img-slide{
    width: $slide-img-w;
}
.carousel-item{
    height: $slide-img-h;
    width: $slide-img-w;
}
/* Este es para los elementos en general */
.navbar-light .navbar-nav .nav-link {
    color: $color-text-main;
    font-weight: $font-main;
}
/*  Este es para el elemento activo lo puedes omitir si asi deseas */
.navbar-light .navbar-nav .active>.nav-link  {
    color: $color-text-main;
    font-weight: $font-main;
}
.container-main{
    padding-top: $padding-top-main;
    background-color: $color-text-main;
}
.card-column{
    padding: $padding-cards;
}

.icon-io{
    font-size: $size-icon;
}